table{
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	text-align: left;
}

table tr:nth-child(odd) { background-color: #8e8; }

table tr:nth-child(even){ background-color: #fff; }
