<!DOCTYPE html>
<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename ='mapDesign.css') }}">
<body>

  <div class="sitename">Landslide maps for {{ location | default('the world') }} </div>

  <div class="error"> {% if error %} {{error}} {% endif %}</div>

  <br>

  {% block body %}{% endblock %}

  <div class="controls">
    Enter the place you want to look at: <input type=text name=location>
    <a href = "{{ url_for('relocate')}}"> Search </a>
  </div>
  
</body>
</html>
