<!DOCTYPE html>
<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename ='mapDesign.css') }}">
<body>

  <div class="sitename">Landslide maps for {{ location | default('the world') }} </div>

  <div class="error"> {% if error %} {{error}} {% endif %}</div>

  <br>

  <div class="map">
    {{ view_map._repr_html_() | safe }}
  </div>

  <div class="controls">
  	<a href = "{{ url_for('map')}}"> Origin </a>
  	<!-- Maybe save the original page as html and bring that html up. -->
  	<br>
    Enter the place you want to look at: <input type="text" id="inputLocation">
    <a id="performSearch" href="/">Search </a>
    <!-- Need to find a way to save what i have put inside the searchbar and copy it into the 'name' -->
  </div>
  <script>

    // We are using Javscript to implement the search redirects, rather
    // than the Jinja templating engine (it can be done with both --
    //      look into forms and HTML)
    
    window.onkeypress = function(e){
      if (!e) e = window.event;
      var keyCode = e.keyCode || e.which;
      if (keyCode =='13'){
        doSearch();
        return false;
      }
    }
    
    document.getElementById("performSearch").onclick = doSearch;
    
    function doSearch(){
      var placeName = document.getElementById("inputLocation").value;
      window.location = "/location/" + encodeURIComponent(placeName);
      return false; // In case something goes wrong
    }
  </script>
</body>
</html>
